@import url(https://fonts.googleapis.com/css?family=Montserrat|Patua+One|Paytone+One|Pragati+Narrow|Varela);
* { 
	margin:0; padding:0; box-sizing:border-box; 
}
body {
	   /* text-align: center; */
	   background-color: rgb(232,232,232);
	   font-family: 'Varela', sans-serif;
	   color: rgb(116,116,116);
}
section {
	margin:5em 0;
}	 
header {
	padding: 5em 0 0 0;
}  
h1 {
	font-size: 50px;
	color: rgb(116,116,116);
}
h2 {
	font-style: none;
	font-size: 40px;
	color: #95CE8B;
}
h3 {
	font-size: 40px;
	color: rgb(116,116,116);
}
ul {
	padding-left:1.25em;
}
main {
	background-color: #E89C6C;
	border: 1px solid black;
	padding: 20px;
}
footer{
	background-color: #FF957E;
	border: 1px solid black;
	padding: 20px;
	text-align: center;
	font-size: 1em;
}
#splash {
	font-family: sans-serif;
    background: url(../images/lightswitch.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 90vh;
	margin:0;
	padding: 10em 0 0 5em;
}
#left {
	width: 40%;
	float: right;
	font-size: 1em;
	padding: 5em 10em 2em 2em;
}
img {
	display: block;
	width: 500px;
	padding: 5em 0em 5em 5em;
	margin: 10em;
}
#right {
	display: block;
	width: 100%;
	margin: 0;
	background: white;
}
nav {
	font-size: 1.7em;
	float: left;
	background-color: grey;
}
nav a {
	text-decoration: none;
	color: white;
	margin: .5em;
    display: inline-block;
}
